.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
/*The content inside the element row_posters will still be scrollable, but the scrollbar itself will not be visible*/
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster:hover {
  transform: scale(1.08);
}
/*defining the size of the poster card image to 250px it was 100px */
.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
}
.row {
  margin-left: 20px;
  color: white;
}
.row {
  margin-left: 20px;
  color: white;
}

.row h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.row__poster {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s;
  cursor: pointer;
}

.row__poster:hover {
  transform: scale(1.1);
}

.row__posterLarge {
  max-height: 250px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  font-size: 20px; /* Change font size */
  width: 35px; /* Adjust width */
  height: 35px; /* Adjust height */
  background: rgba(0, 0, 0, 0.5); /* Add background for visibility */
  border-radius: 50%; /* Make it circular */
}
/* Hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Increase arrow icon size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Increase default arrow size */
}

/* Adjust position */
.swiper-button-next {
  right: 20px; /* Move next button closer */
}

.swiper-button-prev {
  left: 10px; /* Move prev button closer */
}
